@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy-bold.woff2') format('woff2');
	font-weight: bold;
}

@font-face {
	font-family: 'Gilroy-Bold';
	src: url('/fonts/gilroy-bold.woff2') format('woff2');
	/* font-weight: bold; */
}

@font-face {
	font-family: 'Gilroy-Black';
	src: url('/fonts/gilroy-black.woff2') format('woff2');
	/* font-weight: bold; */
}
